server:
  port: 8012
spring:
  cloud:
    gateway:
      routes:
        - id: path_route
          uri: https://yupi.icu
          predicates:
            - Path=/api/**
logging:
  level:
    root: TRACE